<p-toast></p-toast>

<div class="loader-container" *ngIf="isLoading">
  <div class="loader">
      <span></span>
  </div>
</div>

<!-- <div class="spinner-container" *ngIf="isLoading">
  <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div> -->

<div class="grid" *ngIf="Index">
  <div class="col-12">
    <div class="card">
      <h1 class="text-center mt-2">Niveles</h1>
      <hr>
      <div class="grid mt-2">
        <div class="col-12">
          <button (click)="CrearNivel()" pButton icon="pi pi-plus" label="Nuevo" class="mr-2"></button>
        </div>
      </div>



      <p-table #dt [value]="niveles" styleClass="mt-2" responsiveLayout="scroll" [rows]="10"
        [globalFilterFields]="['codigo','nive_Descripcion']" [tableStyle]="{ background: '#000' }"
        [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i style="color: white;" class="pi pi-search"></i>
              <input style="color: white;" pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                placeholder="Buscar..." class="w-full sm:w-auto" />
            </span>
            <div class="registros">

              <p-dropdown [options]="dt.rowsPerPageOptions" [(ngModel)]="dt.rows" [style]="{ 'margin-right': '5px' }"  [autoWidth]="false"></p-dropdown>

              <span style="color: #FFF0C6; font-weight: 700; margin-top: 7px;"> Registros por página</span>
          </div>
          </div>

        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="color: white;" class="text-center">Acciones</th>
            <th style="color: white;" pSortableColumn="nive_Id" class="text-center">No. <p-sortIcon field="nive_Id"></p-sortIcon></th>
            <th style="color: white;" pSortableColumn="nive_Descripcion" class="text-center">Nivel <p-sortIcon field="nive_Descripcion"></p-sortIcon></th>
          </tr>
        </ng-template>

        <!-- <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="text-center">
           
            </td>
          </tr>
        </ng-template> -->
        <ng-template pTemplate="body" let-nivel>
          <tr (click)="onRowSelect(nivel)">
            <td class="text-center">
              <p-splitButton label="Acciones" icon="pi pi-cog" [model]="items" appendTo="body" styleClass="p-button-secondary" class="custom-splitbutton"></p-splitButton>
            </td>
            <td class="text-center"><span class="p-column-title">No.</span>{{nivel.codigo}}</td>
            <td style="width:60%; min-width:10rem;" class="text-center">
              <span class="p-column-title">Niveles</span>{{nivel.nive_Descripcion}}
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</div>

<div class="grid" *ngIf="Create">
  <div class="col-12">
    <div class="card">
<div class="flex" style="width: 100%; display: flex; align-items: center; height: 42px;">
    <!-- Back Button Section -->
    <div style="width: 20%; display: flex; align-items: center; justify-content: flex-start;">
        <button (click)="CerrarNivel()" class="p-button-link" pButton pRipple type="button" label="Regresar" icon="pi pi-arrow-left" style="box-shadow: none !important; margin-top: 0px;"></button>
    </div>
    
    <!-- Centered Title Section -->
    <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
        <h1 class="text-center mt-4">{{ titulo }} Nivel</h1>
    </div>
    
    <!-- Optional Empty Div for Right-Side Balancing -->
    <div style="width: 20%;"></div>
</div>

    <hr>

      <div class=" mt-2 grid">
        <form [formGroup]="form" class="grid col-12 p-fluid p-formgrid">
          <div class="field col-12 md:col-6">
            <label>Nivel
              <small
                  style="display: inline-block; color: red !important;"
                  class="ng-dirty ng-invalid"
                  *ngIf="submitted && form.controls['nive_Descripcion'].invalid"
              >*
              </small> 

            </label>
            <input class="col-6"
            maxlength="80"
              [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['nive_Descripcion'].invalid}"
              type="text" class="p-inputtext" formControlName="nive_Descripcion" (input)="handleInput($event)" maxlength="50" (input)="handleInput2($event)" >
            <small class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['nive_Descripcion'].invalid"
              style="color: red !important;">El campo es requerido.</small>
          </div>
        </form>
      </div>
      <div style="display: flex;justify-content: end;">
        <button (click)="confirmGuardar()" class="btn btn-guardar" pButton pRipple type="button" label="Guardar" icon="pi pi-save"></button>
        <button (click)="CerrarNivel()" style="margin-left: 2%;" class=" p-button-secondary" pButton pRipple type="button" label="Cancelar" icon="pi pi-times"></button>
      </div>
    </div>
  </div>
</div>

<div class="grid" *ngIf="Detail">
  <div class="col-12">
    <div class="card">
      <div class="flex" style="width: 100%; display: flex; align-items: center; height: 42px;">
        <!-- Back Button Section -->
        <div style="width: 20%; display: flex; align-items: center; justify-content: flex-start;">
            <button (click)="CerrarNivel()" class="p-button-link" pButton pRipple type="button" label="Regresar" icon="pi pi-arrow-left" style="box-shadow: none !important;"></button>
        </div>
        
        <!-- Centered Title Section -->
        <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
            <h1 class="text-center mt-4">Detalle del Nivel</h1>
        </div>
        
        <!-- Optional Empty Div for Right-Side Balancing -->
        <div style="width: 20%;"></div>
    </div>
    
<hr>
      <div *ngIf="nivel">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-4 " style="position: relative; height: 10%;">
            <div class="field rows">
              <label for="Codigo" style="font-weight: 800;">No:</label>
            </div>
            <div class="field rows">
              <label for="Codigo">{{nivel.codigo}}</label>
            </div>
          </div>
          <div class="field col-12 md:col-4" style="position: relative;">
            <div class="field rows">
              <label for="Nivel" style="font-weight: 800;">Nivel:</label>
            </div>
            <div class="field rows">
              <label for="Nivel">{{ detalle_nive_Descripcion }}</label>
            </div>
          </div>
        </div>
      </div>
      <div style="position: relative;top:-20px;">
        <div class="card-title">
          <h1>Auditoría</h1>
        </div>
        <p-table [value]="Datos" styleClass=" mt-2">
          <ng-template pTemplate="header">
            <tr>
              <th style="width:200px; font-weight: bold;">Acción</th>
              <th style="width:200px; font-weight: bold;">Usuario</th>
              <th style="width:200px; font-weight: bold;">Fecha</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transaction>
            <tr>
              <td style="width:200px;">{{ transaction.accion }}</td>
              <td style="width:200px;">{{ transaction.usuario }}</td>
              <td style="width:200px;">{{ transaction.fecha || '' }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!-- <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
        <button (click)="CerrarNivel()" pButton icon="pi pi-arrow-left" type="button" label="Regresar" class="p-button-outlined"></button>
      </div> -->
    </div>
  </div>
</div>


<p-dialog [(visible)]="Delete" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>¿Está seguro de eliminar el Nivel
      <span style="font-weight: 600">{{ detalle_nive_Descripcion }}</span>?</span>
  </div>
  <ng-template pTemplate="footer">
    <!-- <button pButton pRipple icon="pi pi-check"  label="Sí" (click)="Eliminar()"></button> -->
    <button pButton pRipple icon="pi pi-trash" type="button" label="Eliminar" (click)="Eliminar()"></button>
    <button pButton pRipple icon="pi pi-times" class="p-button-outlined p-button-primary" label="Cancelar" (click)="Delete = false"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="confirmProveedorDialog" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-pencil mr-3" style="font-size: 2rem"></i>
    <span>¿Está seguro de editar este nivel <span style="font-weight: 600;"> {{form.controls['nive_Descripcion'].value}}</span>?</span>
  </div>
  <ng-template pTemplate="footer">
    <!-- <button pButton pRipple icon="pi pi-check"  label="Sí" (click)="confirmarActualizacion()"></button> -->
    <button 
    pButton 
    pRipple 
    icon="pi pi-pencil" 
    type="button" 
    label="Aceptar"  
    (click)="confirmarActualizacion()">
</button>
    <button pButton pRipple icon="pi pi-times" class="p-button-outlined p-button-primary" label="Cancelar" (click)="confirmProveedorDialog = false"></button>
  </ng-template>
</p-dialog>
