.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .hidden-spinner {
    display: none;
  }


  ::ng-deep .custom-splitbutton .p-splitbutton-defaultbutton {
    display: none; /* Oculta el botón izquierdo */
}


::ng-deep .custom-splitbutton .p-splitbutton-menubutton {
    width: 133.73px;
    height: 29.49px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    position: relative;

}
::ng-deep .custom-splitbutton .p-splitbutton-menubutton .p-button-label {
    display: flex;
    align-items: center;
}


::ng-deep .custom-splitbutton .p-splitbutton-menubutton::before {
    content: '\e94a   Acciones ';
    font-family: 'PrimeIcons', sans-serif;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    margin-right: 17px;
}


/* Añadir el icono de engranaje a la izquierda del texto */
::ng-deep .custom-splitbutton .p-splitbutton-menubutton::before {
    position: relative;
}




::ng-deep .custom-splitbutton .p-splitbutton-menubutton .p-button-icon-right .p-icon-wrapper{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0;
}


// .loader-container {
//     position: fixed;
//       margin-left: 22px;
//       top: 0px;
//       left: 300px;
//       width: 80vw;
//       height: 100vh;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       z-index: 1000;
//       background-color: #0d0d0e9e;/* Ensure it's above all content */
//   }


//   .loader {
//     --d: 23px;
//     width: 6px;
//     height: 6px;
//     border-radius: 200%;
//     color: var(--primary-900);
//     box-shadow:
//       calc(1*var(--d))      calc(0*var(--d))     0 0,
//       calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
//       calc(0*var(--d))      calc(1*var(--d))     0 2px,
//       calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
//       calc(-1*var(--d))     calc(0*var(--d))     0 4px,
//       calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
//       calc(0*var(--d))      calc(-1*var(--d))    0 6px;
//     animation: l27 1s infinite steps(8);
//   }

//   @keyframes l27 {
//     100% { transform: rotate(1turn); }
//   }
