<p-toast></p-toast>
<!--Spinner-->
<div class="loader-container" *ngIf="isTableLoading">
    <div class="loader">
        <span></span>
    </div>
  </div>
<!--Spinner-->
<!-- Listado de la tabla -->
<div class="grid" *ngIf="Index" >
    <div class="col-12">
        <div class="card">
            <h1 class="text-center mt-2">Gestiones Adicionales</h1>
            <hr>
            <div class="grid mt-2">
                <div class="col-12">
                    <button (click)="CrearControlCalidad()" pButton icon="pi pi-plus" label="Nuevo" class="mr-2"></button>
                </div>
            </div>
            <p-table #dt [value]="gestionadicional" styleClass="mt-2" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['codigo', 'coca_Descripcion']" [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas" dataKey="adic_Id" [rowHover]="true" [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)" [tableStyle]="{ background: '#000' }" [rowsPerPageOptions]="[10,25,50,100]">
       <ng-template pTemplate="caption">
           <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
               <span class="block mt-2 md:mt-0 p-input-icon-left">
                   <i class="pi pi-search" style="color: white;"></i>
                   <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                          class="w-full sm:w-auto" style="color: white;" />
               </span>
               <div class="registros">
                <p-dropdown
                [options]="dt.rowsPerPageOptions"
                [(ngModel)]="dt.rows"
                [style]="{ 'margin-right': '5px' }"
                [autoWidth]="false"
                />
                <span style="color: #fff0c6; font-weight: 700; margin-top: 7px;">Registros por página</span>
              </div>
           </div>
       </ng-template>
       <ng-template pTemplate="header">
           <tr>
            <th style="width: 5rem"></th>
            <th class="text-center" style="color: white;">Acciones</th>
               <th pSortableColumn="codigo" class="text-center" style="color: white;">No. <p-sortIcon field="codigo"></p-sortIcon></th>
               <th pSortableColumn="coca_Descripcion" class="text-center" style="color: white;">Descripción <p-sortIcon field="coca_Descripcion"></p-sortIcon></th>
               <th pSortableColumn="coca_Descripcion" class="text-center" style="color: white;">Fecha<p-sortIcon field="coca_Descripcion"></p-sortIcon></th>
               <th pSortableColumn="coca_Descripcion" class="text-center" style="color: white;">Presupuesto Adicional <p-sortIcon field="coca_Descripcion"></p-sortIcon></th>
               <th pSortableColumn="coca_Descripcion" class="text-center" style="color: white;">Actividad Trabajada <p-sortIcon field="coca_Descripcion"></p-sortIcon></th>
            </tr>
       </ng-template>
       <ng-template pTemplate="body" let-gestionadicional let-i="rowIndex">
           <tr (click)="onRowSelect(gestionadicional)">
            <td>
                <p-button type="button" pRipple [pRowToggler]="gestionadicional" [text]="true" [rounded]="true" [plain]="true"
                  [icon]="expandedRows[gestionadicional.bien_Id] ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
              </td>
               <td class="text-center">
                <p-splitButton
                label="Acciones"
               class="custom-splitbutton"
                [model]="items"

                styleClass="p-button-secondary"
                appendTo="body">
            </p-splitButton>
               </td>
               <td class="text-center">
                   <span class="p-column-title">No.</span>
                   {{gestionadicional.codigo}}
               </td>

               <td class="text-center" >
                   <span class="p-column-title">Descripción</span>
                   {{gestionadicional.adic_Descripcion}}
               </td>
               <td class="text-center" >
                <span class="p-column-title">Descripción</span>
                {{gestionadicional.adic_Fecha | date:'yyyy/MM/dd'}}
            </td>
            <td style="width: 14rem; text-align: end;">
              {{ globalMoneda.getState().mone_Abreviatura }} {{gestionadicional.adic_PresupuestoAdicional | number:'1.2-2'}}
            </td>
            <td class="text-center" >
                <span class="p-column-title">Descripción</span>
                {{gestionadicional.acti_Descripcion}}
            </td>
           </tr>
       </ng-template>

       <ng-template pTemplate="rowexpansion" let-gestionadicional>
        <tr>
          <td colspan="12">
            <div class="p-3">
              <p-table [value]="TablaMaestra"  dataKey="adic_Id">
                <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6" class="text-center">
                        <div class="loader-container" *ngIf="loading">
                            <div class="loader">
                                <span></span>
                            </div>
                          </div>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">Código </th>
                        <th class="text-center">Imagen </th>

                    </tr>
                    </ng-template>
                <ng-template pTemplate="body" let-GestionAdicionalImagen>
                  <tr>
                      <th  class="text-center">{{GestionAdicionalImagen.codigo}}</th>
                      <td class="text-center">
                        <span class="p-column-title">Imagen</span>
                        <ng-container *ngIf="GestionAdicionalImagen.imge_Imagen; else noImage">
                          <img [src]="getSafeUrl(GestionAdicionalImagen.imge_Imagen)" alt="Imagen" width="65" (error)="onImageError($event)" />
                        </ng-container>
                        <ng-template #noImage>
                          <span>De momento no se encuentran imagenes</span>
                        </ng-template>
                      </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
   </p-table>

        </div>
    </div>
</div>


<!-- collapse crear-editar  -->
<div class="grid" *ngIf="Create">
    <div class="col-12">
        <div class="card">
          <div class="flex" style="width: 100%; margin: 0 auto; display: flex; align-items: center; height: 42px;">
            <!-- Contenedor del Botón Regresar -->
            <div style="width: 20%; display: flex; align-items: center; height: 12.5%;">
                <button (click)="CerrarControlCalidad()" pButton pRipple type="button" class="p-button-link" label="Regresar" icon="pi pi-arrow-left" style="box-shadow: none !important"></button>
            </div>

            <!-- Contenedor del Título -->
            <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
                <h1 class="text-center mt-4">{{ titulo }}</h1>
            </div>

            <div style="width: 20%;"></div> <!-- Empty div to balance the space on the right -->
        </div>

        <hr>
            <div class="mt-2 grid">
                <form [formGroup]="form" class="grid col-12 p-fluid p-formgrid">
                    <div class="field col-12 md:col-6">
                        <label>Descripción&nbsp;</label><small style="display:inline-block;"  class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['adic_Descripcion'].invalid"
                        style="color: red !important;">*</small>
                        <input class="col-6"
                        (keydown)="ValidarTexto($event)"
                               [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['adic_Descripcion'].invalid}"
                               type="text" class="p-inputtext" formControlName="adic_Descripcion"
                               (input)="handleInput($event,'adic_Descripcion')">
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['adic_Descripcion'].invalid"
                               style="color: red !important;">El campo es requerido.</small>
                      </div>
                      <div class="field col-12 md:col-6">
                        <label>Fecha&nbsp;</label>
                <small style="display:inline-block;"  class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['adic_Fecha'].invalid"
                      style="color: red !important;">*</small>
                        <p-calendar
                        yearRange="2024:"
                        [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['adic_Fecha'].invalid}" type="text"
                        [showIcon]="true" formControlName="adic_Fecha" [minDate]="minDate" ></p-calendar>
                        <!-- <input class="col-6"
                        (keydown)="ValidarTexto($event)"
                               [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['coca_Fecha'].invalid}"
                               type="text" class="p-inputtext" formControlName="coca_Fecha"> -->
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['adic_Fecha'].invalid"
                               style="color: red !important;">El campo es requerido.</small>
                      </div>
                      <div class="field col-12 md:col-6">
                        <label>Presupuesto adicional &nbsp;</label><small style="display:inline-block;"  class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['adic_PresupuestoAdicional'].invalid"
                        style="color: red !important;">*</small>
                        <p-inputNumber  formControlName="adic_PresupuestoAdicional" class="p-inputnumber-sm" min="1" maxlength="10"  [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['adic_PresupuestoAdicional'].invalid}"
                        [prefix]="globalMoneda.getState().mone_Abreviatura + ' '"

                        ></p-inputNumber>
                        <!-- <label for="">Metros Objetivo: {{cantidad}}</label> -->
                        <!-- <input class="col-6" [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['coca_MetrosTrabajados'].invalid}" type="text" class="p-inputtext" formControlName="coca_MetrosTrabajados"> -->
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['adic_PresupuestoAdicional'].invalid" style="color: red !important;">El campo es requerido.</small>
                      </div>

                      <div class="field col-12 md:col-6">
                        <label>Proyecto Trabajado &nbsp;</label><small style="display:inline-block;"  class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['proy_Nombre'].invalid"
                        style="color: red !important;">*</small>
                        <!-- <input class="col-6"
                               [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['acet_Id'].invalid}"
                               type="text" class="p-inputtext" formControlName="acet_Id"> -->
                        <p-autoComplete
                               formControlName="proy_Nombre"
                               [suggestions]="Proyectofill"
                               (completeMethod)="filterProyecto($event)"
                               (onSelect)="onProyectoSelect($event)"
                               field="proy_Nombre"
                               placeholder="Buscar un proyecto"
                               [dropdown]="true"
                               [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['proy_Nombre'].invalid || notFound}" />

                        <small class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['proy_Nombre'].invalid"
                               style="color: red !important;">El campo es requerido.</small>

                               <small class="ng-dirty ng-invalid" *ngIf="notFound && !form.controls['proy_Nombre'].invalid"
                               style="color: red !important;">Opción no encontrada.</small>


                      </div>
                      <div class="field col-12 md:col-6">
                        <label>Etapa Trabajada&nbsp;</label><small style="display:inline-block;"  class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['etap_Descripcion'].invalid"
                        style="color: red !important;">*</small>
                        <!-- <input class="col-6"
                               [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['acet_Id'].invalid}"
                               type="text" class="p-inputtext" formControlName="acet_Id"> -->
                        <p-autoComplete
                               formControlName="etap_Descripcion"
                               [suggestions]="Etapafill"
                               (completeMethod)="filterEtapa($event)"
                               (onSelect)="onEtapaSelect($event)"
                               appendTo="body"

                               field="etap_Descripcion"
                               placeholder="Buscar la Etapa"
                               [dropdown]="true"
                               [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['etap_Descripcion'].invalid || notFound1}" />

                        <small class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['etap_Descripcion'].invalid"
                               style="color: red !important;">El campo es requerido.</small>


                               <small class="ng-dirty ng-invalid" *ngIf="notFound1 && !form.controls['etap_Descripcion'].invalid"
                               style="color: red !important;">Opción no encontrada.</small>

                      </div>
                      <div class="field col-12 md:col-6">
                        <label>Actividad Trabajada&nbsp;</label><small style="display:inline-block;"  class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['acti_Descripcion'].invalid"
                        style="color: red !important;">*</small>
                        <!-- <input class="col-6"
                               [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['acet_Id'].invalid}"
                               type="text" class="p-inputtext" formControlName="acet_Id"> -->
                        <p-autoComplete
                               formControlName="acti_Descripcion"

                               appendTo="body"

                               [suggestions]="Actividadfill"
                               (completeMethod)="filterActividad($event)"
                               (onSelect)="onActividadSelect($event)"
                               field="acti_Descripcion"
                               placeholder="Buscar la Actividad"
                               [dropdown]="true"
                               [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['acti_Descripcion'].invalid || notFound2}" />

                        <small class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['acti_Descripcion'].invalid"
                               style="color: red !important;">El campo es requerido.</small>

                               <small class="ng-dirty ng-invalid" *ngIf="notFound2 && !form.controls['acti_Descripcion'].invalid"
                               style="color: red !important;">Opción no encontrada.</small>


                      </div>

                      <div class="field col-12 md:col-6 " style="background-color: #19191a; ">

                        <label>Subir Imágenes:<label class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['coca_Descripcion'].invalid"
                          style="color: red !important;">*</label> </label>
                        <div class="flex" >
                            <div class="lista-imagenes2"  [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['coca_Descripcion'].invalid}">
                                <i class="pi pi-angle-up" (click)="scrollUp()" style="cursor: pointer; font-size: 24px; color: #ffc6c6;"></i>
                                <div class="imagenes-contenedor2">
                                    <ng-container *ngFor="let i of [0, 1, 2, 3]">
                                        <div *ngIf="i >= visibleImages.length" class="imagen-lista2 placeholder"></div>
                                        <img *ngIf="i < visibleImages.length" [ngClass]="{'borde-primario2': selectedImageIndex === i}" [src]="visibleImages[i]" class="imagen-lista2" (click)="onImageSelect(i)" />
                                    </ng-container>
                                </div>
                                <i class="pi pi-angle-down" (click)="scrollDown()" style="cursor: pointer; font-size: 24px; color: #FFF0C6;"></i>
                            </div>

                            <div class="imagen-principal-contenedor2">
                                <div *ngIf="selectedImage" class="imagen-seleccionada2">
                                    <img [src]="selectedImage" alt="Imagen Seleccionada2" class="imagen-principal2" />
                                </div>
                                <div *ngIf="!selectedImage" class="caja-subir2"  (click)="triggerFileInput()">
                                    <input type="file" id="fileInput" (change)="onFilesSelected($event)" multiple accept="image/*" style="display: none;" />
                                    <div class="texto-subir2">
                                        <p>Subir Imágenes</p>
                                        <small class="ng-dirty ng-invalid" *ngIf="submitted && visibleImages.length < 1" style="color: red !important;">El campo es requerido.</small>
                                        <span>Seleccione las Imágenes</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button (click)="limpiar()" class="p-button-secondary tamano" pButton pRipple type="button" label="Limpiar" icon="pi pi-trash"></button>

                    </div>

                        <!-- <div class="cleand">
                            <button (click)="limpiar()" class="p-button-secondary tamano" pButton pRipple type="button" label="Limpiar" icon="pi pi-trash"></button>
                        </div> -->

                        <div  *ngIf="tablaimg" class="field col-12 md:col-6" >
                        <label>Imagenes Ingresadas:</label>
                        <p-table [value]="TablaMaestra"  dataKey="adic_Id">
                            <ng-template pTemplate="header">
                              <tr>
                                  <th class="text-center">Eliminar</th>
                                  <th class="text-center">No.</th>
                                  <th class="text-center">Imagen </th>

                              </tr>
                              </ng-template>
                            <ng-template pTemplate="body" let-GestionAdicionalImagen>
                              <tr  *ngIf="!loading">
                                  <td class="text-center">
                                    <button (click)="onimagenSelect(GestionAdicionalImagen)"  pButton pRipple type="button" icon="pi pi-minus" class="btn btn-guardar"></button>
                                  </td>
                                  <td  class="text-center">{{GestionAdicionalImagen.codigo}}</td>
                                  <td class="text-center">
                                    <span class="p-column-title">Imágen</span>
                                    <ng-container >
                                      <img [src]="getSafeUrl(GestionAdicionalImagen.imge_Imagen)" alt="Imagen" width="65" (error)="onImageError($event)" />
                                    </ng-container>
                                    <ng-template #noImage>
                                      <span>De momento no se encuentran imagenes</span>
                                    </ng-template>
                                  </td>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                   <td colspan="3">
                                          <ng-container >
                                            
                                           <!-- <i class="pi pi-spin pi-spinner"></i> Cargando... -->
                                            </ng-container>
                                             <ng-template #noData>
                                                 {{loadedImageMessage}}
                                          </ng-template>
                                   </td>
                               </tr>
                            </ng-template>
                          </p-table>
                        </div>
                </form>


            </div>
            <div style="display: flex; justify-content: end;">
                <button (click)="Guardar()" pButton pRipple type="button" label="Guardar" icon="pi pi-save" class="btn btn-guardar"></button>
                <button (click)="CerrarControlCalidad()" pButton pRipple type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary" style="margin-left: 2%;"></button>
            </div>
        </div>
    </div>
</div>


<!-- modal de eliminar  -->
<p-dialog [(visible)]="Delete" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center justify-content-center" style="margin-left: 12%;">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span>¿Está seguro de eliminar la Gestión Adicional <span style="font-weight: 600;"> {{Descripcion}}</span>?</span>
  </div>
  <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-trash" class="p-button-primary" label="Eliminar" (click)="Eliminar()"></button>
      <button pButton pRipple icon="pi pi-times" class="p-button-outlined p-button-primary" label="Cancelar" (click)="Delete = false"></button>
  </ng-template>
</p-dialog>


<!-- modal de editar  -->
<p-dialog [(visible)]="Edit" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center justify-content-center">
      <i class="pi pi-pencil mr-3" style="font-size: 2rem"></i>
      <span>¿Está seguro de editar la Gestión Adicional <span style="font-weight: 600;">{{form.value.adic_Descripcion}}</span>?</span>
  </div>
  <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-pencil" class="p-button-primary" label="Aceptar" (click)="EditarG()"></button>
      <button pButton pRipple icon="pi pi-times" class="p-button-outlined p-button-primary" label="Cancelar" (click)="Edit = false"></button>
  </ng-template>
</p-dialog>




<div class="grid" *ngIf="Detail">
  <div class="col-12">
      <div class="card">
        <div class="d-flex justify-content-start align-items-center mb-4 mt-2">
          <!-- Contenedor del Botón Regresar -->
          <div style="margin-bottom: -39px;">
              <button (click)="CerrarControlCalidad()" pButton pRipple type="button" class="p-button-link" label="Regresar" icon="pi pi-arrow-left"></button>
          </div>

          <!-- Contenedor del Título -->
          <div class="mx-auto" style="    margin-left: 16px;">
              <h1 class="text-center mt-2">{{ titulo }}</h1>
          </div>
      </div>  <hr>
      <div class="p-fluid p-formgrid grid" >
          <div class="field col-12 md:col-4 " style="position: relative; height: 10%;">
              <div class="field rows">
                  <label for="Codigo" style="font-weight: 800;">No:</label>
              </div>
              <div class="field rows">
                  <label for="Codigo">{{ detallecodigo }}</label>
              </div>
          </div>
          <div class="field col-12 md:col-4" style="position: relative;" >
              <div class="field rows">
                  <label for="Municipio" style="font-weight: 800;">Descripción:</label>
              </div>
              <div class="field rows">
                  <label for="Municipio">{{ detalleadic_Descripcion }}</label>
              </div>
          </div>
        <div class="field col-12 md:col-4" style="position: relative;" >
          <div class="field rows">
              <label for="Municipio" style="font-weight: 800;">Presupuesto Adicional:</label>
          </div>
          <div class="field rows">
              <label for="Municipio">  {{ globalMoneda.getState().mone_Abreviatura }}  {{ detalleadic_PresupuestoAdicional   | number:'1.2-2' }}</label>
          </div>
       </div>
          <div class="field col-12 md:col-4" style="position: relative;">
              <div class="field rows" style="font-weight: 800;">
                  <label for="Departamento">Fecha de la Gestión:</label>
              </div>
              <div class="field rows">
                  <label for="Departamento">{{ detalleadic_Fecha | date:'yyyy/MM/dd'}}</label>
              </div>
          </div>


          <div class="field col-12 md:col-4" style="position: relative; top: -10px;" >
              <div class="field rows" style="font-weight: 800;">
                  <label for="Departamento">Proyecto:</label>
              </div>
              <div class="field rows">
                  <label for="Departamento">{{ detalleproy_Descripcion }}</label>
              </div>
          </div>
          <div class="field col-12 md:col-4" style="position: relative; top: -10px;" >
              <div class="field rows" style="font-weight: 800;">
                  <label for="Departamento">Etapa:</label>
              </div>
              <div class="field rows">
                  <label for="Departamento"> {{ detalleetap_Descripcion }}</label>
              </div>
          </div>
          <div class="field col-12 md:col-4" style="position: relative; top: -10px;" >
            <div class="field rows" style="font-weight: 800;">
                <label for="Departamento">Actividad:</label>
            </div>
            <div class="field rows">
                <label for="Departamento"> {{ detalleacti_Descripcion }}</label>
            </div>
        </div>
      </div>
  <div style="position: relative;top:-20px;" >
      <div class="card-title">
          <h1>Auditoría</h1>
      </div>
      <p-table [value]="Datos" styleClass=" mt-2">
          <ng-template pTemplate="header">
              <tr>
                  <th style="width:200px; font-weight: bold;">Acción</th>
                  <th style="width:200px; font-weight: bold;" >Usuario</th>
                  <th style="width:200px; font-weight: bold;">Fecha</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transaction>
              <tr>
                  <td style="width:200px;">Creado</td>
                  <td style="width:200px">{{ detalleusuaCreacion }}</td>
                  <td style="width:200px">{{ detalleadic_FechaCreacion }}</td>
              </tr>
              <tr>
                  <td style="width:200px;">Modificado</td>
                  <td style="width:200px">{{ detalleusuaModificacion }}</td>
                  <td style="width:200px">{{ detalleadic_FechaModificacion }}</td>
              </tr>
          </ng-template>
      </p-table>
  </div>
  </div>
</div>


</div>
