@import url("/node_modules/dhtmlx-gantt/codebase/dhtmlxgantt.css");

$color: #cecece;
$primary: #fff0c6;
$dark: #2e2e2e;
$dark2: #0D0D0E;
$borde: $color;
$letra: #FFFFFF;

.gantt-chart {
    position: relative;
    width: 100%;
    height: 600px;

    //FONDO DEL GANTT
    .gantt_layout_root
    {
        background-color: $dark;
        border: 1px solid $borde;
    }

    .gantt_layout_cell_border_right{
        border-right: 1px solid $borde !important;
    }

    //ENCABEZADO TAREAS
     .gantt_grid_head_cell{
        background-color: $dark;
        color: $letra;
    }
    .gantt_grid_scale{
        background-color: $dark;
        border-bottom: 1px solid $borde;
    }

    //TAREAS
    .gantt_row{
        background-color: $dark;
        border-bottom: 1px solid $borde;
    }

    .gantt_row:hover{
        background-color: $primary !important;
        .gantt_tree_content{
            color: $dark !important;
        }
        
    }

    .gantt_tree_content{
        color: $letra;
    }

    .etapa{
        background-color: #605FE1;
        border:  solid 1px #7d7ae7;
    }

    .gantt_side_content{
        color: $letra !important;
    }
    

    //CELDAS
    .gantt_scale_cell  {
        background-color: $dark;
        // border-right: 1px solid red;
    }
    
    .gantt_scale_cell{
        border-right: 1px solid $borde !important;
        border-bottom: 1px solid $borde !important;
        color: $letra !important;
    }

    .gantt_task_scale{
        border-right: 1px solid $borde !important;
        border-bottom: 1px solid $borde !important;
        color: $letra !important;
        background-color: $dark !important;
    }

    .gantt_task_cell {
        border-right: 1px solid $borde;
        background-color: $dark;
    }

    .gantt_task_row{
        border-bottom: 1px solid $borde;
        background-color: $dark !important;
    }

    .gant_scale_line{
        background-color: $dark !important;
    }

    //SELECCIONAR FILA
    .gantt_grid_data .gantt_row.gantt_selected,
    .gantt_grid_data .gantt_row.odd.gantt_selected,
    .gantt_task_row.gantt_selected {
        background-color: $primary !important;
        color: $letra !important;
        .gantt_tree_content{
            color: $dark !important;
        }
    }
    .gantt_task_row.gantt_selected .gantt_task_cell{
        border-right-color: $primary !important;
        background-color: $primary !important;
    }

    //escondar add button
    .nested_task .gantt_add{
        display: none !important;
    }

    //gantt task
    // .gantt_task_progress{
    //     text-align:left;
    //     padding-left:10px;
    //     box-sizing: border-box;
    //     color:white;
    //     font-weight: bold;
    //     }

    .gantt_task_line{
        border-color: rgba(0, 0, 0, 0.25) !important;
    }
    .gantt_task_line .gantt_task_progress {
        background-color: rgba(0, 0, 0, 0.25) !important
        ;
    }

}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600 ;
    font-size: 1.25rem ;
}

    //tooltip
    .gantt_tooltip{
        background: #000000 !important;
        color: #ffffff !important; 
        padding: 0.429rem 0.571rem;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
            0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        
    }
