<p-toast></p-toast>
<div class="loader-container" *ngIf="isLoading">
    <div class="loader">
        <span></span>
    </div>
  </div>
<div class="grid" *ngIf="Index">
    <div class="col-12">
        <div class="card">
            <h1 class="text-center mt-2">Estados Civiles</h1>
            <hr>
            <div class="grid mt-2">
                <div class="col-12">
                    <button (click)="CrearEstadoCivil()" pButton icon="pi pi-plus" label="Nuevo" class="mr-2">
                    </button>
                </div>
            </div>




            <p-table #dt [value]="estadosCiviles" styleClass=" mt-2" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['codigo','civi_Descripcion']"
                [paginator]="true" [showCurrentPageReport]="true" [tableStyle]="{ background: '#000' }"
                currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]">
                <ng-template pTemplate="caption">


                    <div class="flex md:flex-row md:justify-content-between md:align-items-center" >
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i style="color: white;" class="pi pi-search"></i>
                            <input style="color: white;" pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Buscar..." class="w-full sm:w-auto" />
                        </span>
                        <div class="registros">
                            <p-dropdown
                            [options]="dt.rowsPerPageOptions"
                            [(ngModel)]="dt.rows"
                            [style]="{ 'margin-right': '5px' }"
                            [autoWidth]="false"
                            />
                            <span style="color: #fff0c6; font-weight: 700; margin-top: 7px;">Registros por página</span>
                        </div>
                    </div>

                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="color: white;" class="text-center">Acciones</th>
                        <th style="color: white;" pSortableColumn="codigo" class="text-center">No. <p-sortIcon
                                field="codigo"></p-sortIcon></th>
                        <th style="color: white;" pSortableColumn="civi_Descripcion" class="text-center">Descripción <p-sortIcon
                                field="civi_Descripcion"></p-sortIcon></th>

                    </tr>
                </ng-template>


                <ng-template pTemplate="body" let-estadoCivil>
                    <tr (click)="selectEstadoCivil(estadoCivil)">
                        <td class="text-center" style="width:5%; min-width:10rem;">
                            <p-splitButton
                            label="Acciones"
                           class="custom-splitbutton"
                            [model]="items"
                            styleClass="p-button-secondary"
                            appendTo="body">
                        </p-splitButton>
                        </td>
                        <td style="width:14%; min-width:10rem;" class="text-center"><span
                                class="p-column-title">Código</span>
                            {{estadoCivil.codigo}}
                        </td>
                        <td style="width:14%; min-width:10rem;" class="text-center">
                            <span class="p-column-title">Descripción</span>
                            {{estadoCivil.civi_Descripcion}}
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>



<div class="grid" *ngIf="Create">
    <div class="col-12">

        <div class="card">
            <div class="flex" style="width: 100%; margin: 0 auto; display: flex; align-items: center; height: 42px;">
                <div style="width: 20%; display: flex; align-items: center; position: absolute; height: 12.5%; ">
                    <button (click)="CerrarEstadoCivil()" class="p-button-link" pButton pRipple type="button" label="Regresar" icon="pi pi-arrow-left" style="box-shadow: none !important;"></button>
                </div>
                <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
                <h1 class="text-center mt-4">{{ titulo }} Estado Civil</h1>
                </div>

            </div>
            <hr>


            <div class=" mt-2 grid">
                <form [formGroup]="form" class="grid col-12 p-fluid p-formgrid">
                    <div class="field col-12 md:col-6">
                        <label>
                            Descripción
                            <span *ngIf="submitted && form.controls['civi_Descripcion'].invalid" style="color: red">*</span> <!-- Asterisco rojo condicionado -->
                        </label>
                        <input class="col-6" (keydown)="ValidarTexto($event)"
                        (input)="handleInput($event)"
                            [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['civi_Descripcion'].invalid}"
                            type="text" class="p-inputtext" formControlName="civi_Descripcion">
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && form.controls['civi_Descripcion'].invalid"
                            style="color: red !important;">El campo es requerido.</small>
                    </div>
                </form>
            </div>
            <div style="display: flex;justify-content: end;" >
                <button (click)="Guardar()"  class="btn btn-guardar" pButton pRipple type="button" label="Guardar" icon="pi pi-save"></button>
                <button (click)="CerrarEstadoCivil()" style="margin-left: 2%;" class=" p-button-secondary" pButton pRipple type="button" label="Cancelar" icon="pi pi-times"></button>
            </div>
        </div>

    </div>
</div>

<div class="grid" *ngIf="Detail">
    <div class="col-12">
        <div class="card">
            <div class="flex" style="width: 100%; margin: 0 auto; display: flex; align-items: center; height: 42px;">
                <div style="width: 20%; display: flex; align-items: center; position: absolute; height: 42px;">
                    <button (click)="CerrarEstadoCivil()" class="p-button-link" pButton pRipple type="button" label="Regresar" icon="pi pi-arrow-left" style="box-shadow: none !important;"></button>
                </div>
                <div style="width: 100%; display: flex; justify-content: center; align-items: center;">

                    <h1 class="text-center mt-4">Detalle Estado Civil</h1>
                </div>

            </div>
        <hr>
        <div class="p-fluid p-formgrid grid" >
            <div class="field col-12 md:col-4 " style="position: relative; height: 10%;">
                <div class="field rows">
                    <label for="Codigo" style="font-weight: 800;">No:</label>
                </div>
                <div class="field rows">
                    <label for="Codigo">{{ detalle_civi_Id }}</label>
                </div>
            </div>
            <div class="field col-12 md:col-4" style="position: relative;" >
                <div class="field rows">
                    <label for="Municipio" style="font-weight: 800;">Descripción:</label>
                </div>
                <div class="field rows">
                    <label for="Municipio">{{ detalle_civi_Descripcion }}</label>
                </div>
            </div>

        </div>
    <div style="position: relative;top:-20px;" >
        <div class="card-title">
            <h1>Auditoría</h1>
        </div>
        <p-table [value]="Datos" styleClass=" mt-2">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:200px; font-weight: bold;">Acción</th>
                    <th style="width:200px; font-weight: bold;" >Usuario</th>
                    <th style="width:200px; font-weight: bold;">Fecha</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transaction>
                <tr>
                    <td style="width:200px;">Creado</td>
                    <td style="width:200px">{{ detalle_usuaCreacion }}</td>
                    <td style="width:200px">{{ detalle_FechausuaCreacion }}</td>
                </tr>
                <tr>
                    <td style="width:200px;">Modificado</td>
                    <td style="width:200px">{{ detalle_usuaModificacion }}</td>
                    <td style="width:200px">{{ detalle_FechausuaModificacion }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </div>
</div>


</div>
<!-- modal Eliminar -->
<p-dialog [(visible)]="Delete" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="Delete"
                    >¿Está seguro de eliminar el estado civil
                    <span style="font-weight: 600">{{ detalle_civi_Descripcion }}</span
                    >?</span
                >
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-trash" label="Eliminar" (click)="Eliminar()"></button>
        <button pButton pRipple icon="pi pi-times" class="p-button-outlined p-button-primary" label="Cancelar" (click)="Delete = false"></button>
    </ng-template>
</p-dialog>


<!-- modal editar -->
<p-dialog [(visible)]="Edit" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-pencil mr-3" style="font-size: 2rem"></i>
        <span *ngIf="Edit">
            ¿Está seguro de editar el estado civil
            <span style="font-weight: 600">{{ detalle_civi_Descripcion }}</span>?
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-pencil" label="Aceptar" (click)="EditarG()"></button>
        <button pButton pRipple icon="pi pi-times" class="p-button-outlined p-button-primary" label="Cancelar" (click)="Edit = false"></button>
    </ng-template>
</p-dialog>
